<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="person">Choose a person:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}"
                th:text="${person.getUsername()}"></option>
    </select>

    <label for="role">Choose a role:</label>
    <select th:object="${person}" th:field="*{role}" id="role">
        <option value="ROLE_USER">ROLE_USER</option>
        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
    </select>

    <input type="submit" value="Назначить роль" />
</form>
</body>
</html>